.body {
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;

}


.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.element {
    background-color: lightyellow;
    flex-basis: 360px;
    border: 6px solid #FFF;
    border-radius: 25px;
    margin: 20px 0;
}
.text {
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
}
.block img{
    width: 390px;
    height: 490px;
    
}
.content h1{
    text-align: center;
    margin: 60px 0 40px;
    font-size: 36px;
}
.img + h2, .text h2{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    border-radius: 25px;
}
.img{
    text-align: center;
    margin-bottom: 60px;
    border-radius: 25px;
}
/* .img img{
    border: 6px solid #beffc788;
    border-radius: 25px;
} */

img {
    border-radius: 25px;
}
/* menu style */

.menu {
    background: rgb(255 216 167);
    padding: 0px;
    border-bottom: 6px solid #FFF;
    top: 0px;
    background-image: url(static);
    position: sticky;
}

.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
}
.menu ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}

.menu li{
    margin-left: 40px;
    list-style-type: none;

}
.menu a{
    color: #323238;
    font-weight: bold;
    text-decoration: none;
}
.menu img{
    max-width: 100px;
}

/* Стили для раздела с сортировкой */
.sorting-options {
    background: lightyellow;
    padding: 10px;
    border-bottom: 6px solid #FFF;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
}

.sorting-options p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sorting-options a {
    text-decoration: none;
    font-size: 18px;
    color: #323238;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.sorting-options a:hover {
    color: #ff4500;
}

/* Стили для блока фотосессии*/
.content {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    background-image: url("/static/skills/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.content h1 {
    font-size: 36px;
    margin: 40px 0;
}

.content p {
    font-size: 18px;
    margin: 20px 0;
    text-align: justify;
}

.content form {
    margin-top: 20px;
}

.content button[type="submit"] {
    background: #ff4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
    transition: background 0.3s ease-in-out;
}

.content button[type="submit"]:hover {
    background: #ff0000;
}

.content a.btn-secondary {
    background: lightgray;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    transition: background 0.3s ease-in-out;
}

.content a.btn-secondary:hover {
    background: gray;
}

.btn_logout {
    background-color: rgba(255, 0, 0, 0.438); /* Задайте цвет фона кнопки */
    color: #fff; /* Задайте цвет текста на кнопке */
    padding: 3px 18px; /* Задайте отступы вокруг текста кнопки */
    border: none; /* Уберите границу кнопки */
    border-radius: 5px; /* Закруглите углы кнопки */
    cursor: pointer; /* Измените вид указателя мыши при наведении на кнопку */
    margin-right: 100px;
}

.btn_logout:hover {
    background-color: #c00; /* Задайте цвет фона кнопки при наведении на неё */
}

/* Стили для кнопки "Редактировать" */
.btn.btn-primary {
    background-color: rgb(25 0 255 / 33%);
    color: #251954;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Стили для кнопки "Удалить" */
.btn.btn-danger {
    background-color: rgba(255, 0, 0, 0.438); /* Измените цвет фона */
    color: #251954; /* Измените цвет текста */
    border: none; /* Удалите границу */
    padding: 10px 20px; /* Измените отступы */
    border-radius: 5px; /* Измените скругленность углов */
}
.btn_delet_rewrite {
    text-align: center;
}

/* Добавьте отступ между кнопками */
.btn {
    margin-right: 20px; /* Измените значение, чтобы установить желаемое расстояние */
}

.blog_text {
    background-color: #f5f5f5; /* Фоновый цвет блока */
    padding: 20px; /* Отступы вокруг содержимого */
    border: 3px solid rgb(200, 255, 0); /* Граница блока */
    text-align: left; /* Выравнивание текста влево */
    border-radius: 20px;
}

.blog_text p {
    font-size: 16px; /* Размер шрифта для абзацев */
    margin: 10px 0; /* Верхний и нижний отступ между абзацами */
    line-height: 1.5; /* Межстрочный интервал */
}

.blog_text p:first-child {
    font-weight: bold; /* Сделать первый абзац жирным */
}

.blog_text p::before {
    content: "➜"; /* Добавить символ перед каждым абзацем */
    margin-right: 5px; /* Расстояние между символом и текстом */
}


/* Стили для формы DTForm */
.form-dt {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для формы DTModelForm */
.form-dt-model {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для формы регистрации */
.form-register {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ограничьте максимальную ширину формы */
    margin: 0 auto; /* Центрируйте форму на странице */
    text-align: center; /* Выравнивание текста по центру */
}

.form-register h2 {
    font-size: 24px; /* Увеличьте размер шрифта для заголовка формы */
    margin-bottom: 20px; /* Отступ снизу */
}

.form-register form {
    text-align: left; /* Выравнивание текста внутри формы влево */
}

.form-register button {
    background-color: #007bff; /* Цвет кнопки */
    color: #fff; /* Цвет текста на кнопке */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Стили для полей ввода */
.form-register input[type="text"],
.form-register input[type="Email"],
.form-register input[type="password"] {
    width: 100%; /* Заполните всю доступную ширину контейнера */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для формы авторизации */
.form-auth {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.form-auth h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-auth form {
    text-align: left;
}

.form-auth button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.form-auth input[type="text"],
.form-auth input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.back_to_lst_photosessions {
    padding: 50px;
}


