<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoFusy</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'skills/faviconPH.ico' %}">
    <!— DTModel —>
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
    <!-- Bootstrap CSS и JS из CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'skills/logo.png' %}" alt="">
            </a>
        </div>
        <ul>
            <li><a href="{% url 'index' %}" class="btn btn-primary">Main</a></li>
            <li><a href="{% url 'blog:blogs' %}" class="btn btn-primary">Blog</a></li>
            <li><a href="{% static 'skills/resume.doc' %}" target="_blank" class="btn btn-primary">Summary</a></li>
            <li><a href="{% url 'portfolio:slider' %}" class="btn btn-primary">Portfolio</a></li>
        </ul>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
            <!-- Дополнительные опции для администратора -->
                <ul class="AdminOptions">
                    <li><a href="{% url 'blog:create_blog' %}">Add blog</a></li>
                    <li><a href="{% url 'reg_form:upcoming_photosessions' %}">Watch the photo shoot</a></li>
                    <li><a href="{% url 'reg_form:manage_discounts' %}">Discount management</a> </li>
                    <li>
                        <form action="{% url 'reg_form:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn_logout">Logout</button>
                        </form>
                    </li>
                </ul>
            {% endif %}
            {% if not user.is_staff %}
                <ul class="Reg">
                    <li><a href="{% url 'reg_form:currentRegForm_v2' %}">Register for a photo shoot</a> </li>
                    <li><a href="{% url 'reg_form:photosessions' %}">My photo sessions</a> </li>
                    <li>
                        <form action="{% url 'reg_form:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn_logout">Logout</button>
                        </form>
                    </li>
                </ul>
            {% endif %}
        {% else %}
        <ul class="UnReg">
            <li><a href="{% url 'reg_form:signup' %}">Register</a></li>
            <li><a href="{% url 'reg_form:login' %}">Enter</a> </li>
        </ul>
        {% endif %}
    </div>
</div>
<h2>{{ error }}</h2>
<div class="content">
    <div class="wrap">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
<footer class="footer_menu">

      <div class="footer_contacts">
        <div class="F_contacts">
          <img src="{% static 'skills/icon-phone.svg' %}" alt="icon-phone">
          <div class="contact">+7(923) XXX-XX-XX</div>
        </div>

        <div class="F_contacts">
          <img src="{% static 'skills/icon-mail.svg' %}" alt="icon-mail">
          <div class="contact">PhotoFus@gmail.com</div>
        </div>
      </div>

      <div class="footer-Callium">
        © 2023 «PhotoFusy» — Website for a photo shoot. All rights reserved.
      </div>
</footer>

</html>