<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoFusy</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'skills/faviconPH.ico' %}">
    <!— DTModel —>
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'skills/logo.png' %}" alt="">
            </a>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'blog:blogs' %}">Новостной блог</a></li>
            <li><a href="{% static 'skills/resume.doc' %}" target="_blank">Резюме</a></li>
        </ul>
        {% if user.is_authenticated %}
            <ul class="Reg">
                <li><a href="{% url 'reg_form:currentRegForm_v2' %}">Зарегистрироваться на фотосессию</a> </li>
                <li><a href="{% url 'reg_form:photosessions' %}">Мои фотосессии</a> </li>
                <li>
                    <form action="{% url 'reg_form:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn_logout">Выйти </button>
                    </form>
                </li>
            </ul>
            {% if user.is_staff %}
            <!-- Дополнительные опции для администратора -->
                <ul class="AdminOptions">
                    <li><a href="{% url 'blog:create_blog' %}">Добавить блог</a></li>
                </ul>
            {% endif %}
        {% else %}
        <ul class="UnReg">
            <li><a href="{% url 'reg_form:signup' %}">Зарегистироваться</a></li>
            <li><a href="{% url 'reg_form:login' %}">Войти</a> </li>
        </ul>
        {% endif %}
    </div>
</div>
<h2>{{ error }}</h2>
<div class="content">
    <div class="wrap">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>