{% extends 'skills/base.html' %}

{% block content %}
  <h1>Создание новой скидки</h1>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags %}
                <li class="{{ message.tags }}"> {{ message }} </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <!-- Дополнительные поля для заполнения формы -->
    <p>Пример заполнения значений</p>
    <p>Дата - "2023-11-20 12:00:00"</p>
    <p>Процент скидки - 10 </p>

    <button type="submit">Создать скидку</button>
  </form>

  {% if form.errors %}
    <p class="error-message">{{ form.errors }}</p>
  {% endif %}
{% endblock %}

