{% extends 'skills/base.html' %}

{% load static %}


{% block content %}


<h1>Сhoose the date for the photo shoot</h1>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags %}
                <li class="{{ message.tags }}"> {{ message }} </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
    <form method="POST" class="form-dt">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <div id="calendar" data-dates="{{ booked_dates }}"></div>
        <button class="btn btn-primary">Register</button>
    </form>


{% endblock %}
