{% extends 'skills/base.html' %}

{% block content %}
  <h1>Управление скидками</h1>
  {% if create_discount_enabled %}
    <div class="sorting-options">
        <p>Создать скидку:</p>
        <a href="{% url 'reg_form:create_discount' %}" class="btn btn-primary">Создать скидку</a>
    </div>
  {% else %}
    <p>Нельзя создать новую скидку в период действия другой скидки.</p>
  {% endif %}

  <ul>
    {% for discount in discounts %}
      <div class="element">
        <h2 class="top">
          <p>Название: {{ discount.name }}</p>
        </h2>
        <div class="blog_text">
          <p>Начало скидки: {{ discount.start_date }}</p>
          <p>Окончание скидки: {{ discount.end_date }}</p>
          <p>Размер скидки: {{ discount.amount }}%</p>
          <div class="btn_delet_rewrite">
            <a href="{% url 'reg_form:edit_discount' discount.id %}" class="btn btn-primary">Изменить</a>
            <a href="{% url 'reg_form:delete_discount' discount.id %}" class="btn btn-danger">Удалить</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}
