{% extends 'skills/base.html' %}

{% block content %}
  <h1>Discount management</h1>
    <div class="sorting-options">
        <a href="{% url 'reg_form:create_discount' %}" class="btn btn-primary">Сreate a discount</a>
    </div>

  <ul>
    {% for discount in discounts %}
      <div class="element">
        <h2 class="top">
          <p>Discount name: {{ discount.name }}</p>
        </h2>
        <div class="blog_text">
          <p>Discount start time: {{ discount.start_date }}</p>
          <p>Discount end time: {{ discount.end_date }}</p>
          <p>Discount amount: {{ discount.amount }}%</p>
          <div class="btn_delet_rewrite">
            <a href="{% url 'reg_form:edit_discount' discount.id %}" class="btn btn-primary">Сhange</a>
            <a href="{% url 'reg_form:delete_discount' discount.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}

