{% extends 'skills/base.html' %}

{% load static %}

{% block content %}


<h1>Фотосессии пользователя {{ request.user.username }}</h1>

<h2>Количество фотосессий: {{ blogs.count }}</h2>

<div class="sorting-options">
    <p>Сортировать по:</p>
    <a href="?sort_by=booking_date">Дата бронирования</a> |
    <a href="?sort_by=photosession_date">Дата проведения фотосессии</a>
</div>


<ul>
  {% for DTModel_instance in blogs %}
    <div class="element">
        <h2 class="top">
            <p> Имя : {{ request.user.username }}</p>
        </h2>
        <div class="blog_text">
            <p>Дата и время: {{ DTModel_instance.date_time }}</p>
            <p>Выбранная дата и время: {{ DTModel_instance.date }} в {{ DTModel_instance.time }}</p>
            <a href="{% url 'reg_form:edit_record' DTModel_instance.id %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'reg_form:delete_record' DTModel_instance.id %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
  {% endfor %}
</ul>


{% endblock %}
