{% extends 'skills/base.html' %}

{% load static %}

{% block content %}

<h1>Фотосессии пользователя {{ request.user.username }}</h1>
<h2>Количество фотосессий: {{ DTModel_instance.count }}</h2>

<ul>
  {% for DTModel_instance in blogs %}
    <div class="element">
        <h2 class="top">
            <p> Имя : {{ request.user.username }}</p>
        </h2>
        <div class="blog_text">
            <p>Дата и время: {{ DTModel_instance.date_time }}</p>
        </div>
    </div>
  {% endfor %}
</ul>


{% endblock %}
