{% extends 'skills/base.html' %}

{% load static %}

{% block content %}

<h1>User's Photosessions: {{ request.user.username }}</h1>

<h2>Number of Photosessions: {{ blogs.count }}</h2>

<div class="sorting-options">
    <p>Sort by:</p>
    <a href="?sort_by=booking_date" class="btn btn-primary">Booking Date</a> |
    <a href="?sort_by=photosession_date" class="btn btn-primary">Photosession Date</a>
</div>

<ul>
  {% for DTModel_instance in blogs %}
    <div class="element">
        <h2 class="top">
            <p>Name: {{ DTModel_instance.name }}</p>
        </h2>
        <div class="blog_text">
            <p>Booking Date and Time: {{ DTModel_instance.date_time }}</p>
            <p>Selected Date and Time: {{ DTModel_instance.date }} at {{ DTModel_instance.time }}</p>
            <p>End Time: {{ DTModel_instance.end_time }}</p>
            <p>Duration: {{ DTModel_instance.duration }} hours</p>
            <p>Cost: {{ DTModel_instance.price }} rubles</p>
            <div class="btn_delet_rewrite">
                <a href="{% url 'reg_form:edit_record' DTModel_instance.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'reg_form:delete_record' DTModel_instance.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
  {% endfor %}
</ul>

{% endblock %}

