{% extends 'skills/base.html' %}

{% block content %}
  <h1>Ближайшие фотосессии</h1>

  <ul>
    {% for session in upcoming_sessions %}
      <li>
        <div class="element">
          <h2 class="top">
            <p>Пользователь: {{ session.user.username }}</p>
          </h2>
          <div class="blog_text">
            <p>Дата: {{ session.date }}</p>
            <p>Время: {{ session.time }} - {{ session.end_time }}</p>
            <p>Стоимость: {{ session.price }}</p>
            <p>Продолжительность: {{ session.duration }} часов</p>
          </div>
        </div>
        <hr>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

