{% extends 'skills/base.html' %}

{% block content %}
  <h1>Upcoming Photosessions</h1>

  <ul>
    {% for session in upcoming_sessions %}
      <li>
        <div class="element">
          <h2 class="top">
            <p>User name: {{ session.user.username }}</p>
          </h2>
          <div class="blog_text">
            <p>Date: {{ session.date }}</p>
            <p>Time: {{ session.time }} - {{ session.end_time }}</p>
            <p>Cost: {{ session.price }} $ </p>
            <p>Duration: {{ session.duration }} hours</p>
          </div>
        </div>
        <hr>
      </li>
    {% endfor %}
  </ul>
{% endblock %}


